@{
    ViewData["Title"] = "AboutMe";
}

<div class="text-center">
    @* <h2>Hello there!</h2> *@
    <iframe src="https://giphy.com/embed/Nx0rz3jtxtEre" width="480" height="240" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/mrw-top-escalator-Nx0rz3jtxtEre"></a></p>
    <hr />
    <p>
        I am a passionate software guy trying to live his best life. I have both a bachelor's and a master's in computer
        science from the University of Central Florida. I currently work as a software developer at FWC (Florida Fish
        and Wildlife Commission) using .Net core technologies, SQL server, entity framework, and Azure Devops as the
        source control. Outside of work, I mainly like to delve into three different topics: Mental/physical health
        wellness, finances, and traveling.
    </p>
</div>
