
@{
    ViewData["Title"] = "Settings";
}


<div class="row">
    <div class="col">
        <button class="btn btn-danger m-2" id="delete_account">Delete Account</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-danger m-2" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
    </div>
</div>



@section Scripts {
    <script>
        $(function(){
            $('#delete_account').click(function(){
                Swal.fire({
                    title: "Warning!",
                    text: "Are you sure you want to delete your account? This action is irreversible!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(function(result){
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: "Deleted!",
                            text: "Your account has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}