{
  "version": 6,
  "configurePresets": [
    {
      "name": "base",
      "hidden": true,
      "generator": "Ninja",
      "binaryDir": "${sourceDir}/build/${presetName}"
    },
    { "name": "release", "inherits": "base", "cacheVariables": { "CMAKE_BUILD_TYPE": "Release" } },
    { "name": "debug",   "inherits": "base", "cacheVariables": { "CMAKE_BUILD_TYPE": "Debug" } }
  ],
  "buildPresets": [
    { "name": "release", "configurePreset": "release" },
    { "name": "debug",   "configurePreset": "debug" }
  ]{% if enable_tests %},
  "testPresets": [
    { "name": "release", "configurePreset": "release", "output": { "outputOnFailure": true } },
    { "name": "debug",   "configurePreset": "debug",   "output": { "outputOnFailure": true } }
  ]{% endif %}

}