cmake_minimum_required(VERSION 3.20)

project({{ project_name }}
    VERSION 1.0
    LANGUAGES CXX
)

set(CMAKE_CXX_STANDARD {{ cpp_standard }})
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_CXX_EXTENSIONS OFF)

set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)

set(PROJECT_WARNINGS
    -Wall
    -Wextra
    -Wpedantic
)

# -------------------------
# Main executable
# -------------------------

add_executable(${PROJECT_NAME}
    src/main.cpp
)

target_include_directories(${PROJECT_NAME}
    PRIVATE
        include
)

target_compile_options(${PROJECT_NAME}
    PRIVATE
        ${PROJECT_WARNINGS}
)

{% if enable_tests %}

# -------------------------
# Tests
# -------------------------

enable_testing()

add_executable(tests
    tests/test_main.cpp
)

target_include_directories(tests
    PRIVATE
        include
)

target_compile_options(tests
    PRIVATE
        ${PROJECT_WARNINGS}
)

add_test(NAME unit_tests COMMAND tests)

{% endif %}



