@page "/popup.html"
@inherits BasePage

<div class="container mt-3 mb-3">
    <h1>YouTube Timestamp Tracker</h1>
    <button class="btn btn-primary" @onclick="OpenBookmarks">Open Bookmarks</button>
</div>

@code {
    private async Task OpenBookmarks()
    {
        await jsRuntime.InvokeVoidAsync("openIndexPage");
    }
}
