@using System.Security.Claims

 

@{

    var userId = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.NameIdentifier)?.Value;


}

 

@if (User.Identity.IsAuthenticated)
{

    <form id="logoutForm" class="navbar-right" method="post" asp-action="LogOut" asp-controller="Account">

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                    <i class="fa fa-user" aria-hidden="true"></i>

                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li>

                        @Html.ActionLink($"Hello {User.Claims.FirstOrDefault(c=>c.Type == ClaimTypes.Email)?.Value ?? "yo"}!", "EditProfile", "Account", null, new {style="text-decoration: none;", @class="dropdown-item"})

                    </li>

                    <li>

                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">

                            Log off

                        </a>

                    </li>

                </ul>

            </li>

        </ul>

    </form>
}
else
{

    @Html.ActionLink("Log in","Login", "Account", null, new {style="text-decoration: none;", @class="nav-link"})

}