@* warning prompt dialog *@

<div id="myModalWarningPrompt" class="modal fade text-width:30%;" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">Warning Prompt</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div id="myModalWarningPromptBody" class="modal-body alert-warning">

                <ul id="warningPromptLst">

 

                </ul>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No</button>

                <a href="#" class="btn btn-light" onclick="HandleWarningPrompt()" data-bs-dismiss="modal">Yes</a>

            </div>

        </div>

    </div>

</div>