@model ChangePasswordVM


@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="CurrentEmail"></label>
                <input asp-for="CurrentEmail" class="form-control" />
                <span asp-validation-for="CurrentEmail" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="CurrentPassword"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div class="m-3 text-danger">
    If you forgot your current password, please email <b>vincenteri321@gmail.com</b> with the email associated with your account.
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}