@model ResetPasswordLinkVM

@{
    ViewData["Title"] = "SendResetPasswordLink";
}

<div>
    Please provide your email so we can send you the reset password link.
</div>

<div class="m-5">
    <form method="post" asp-action="SendResetPasswordLink" asp-controller="Account">
    @Html.AntiForgeryToken()
        <input type="email" asp-for="Email">
        <input type="submit" value="Submit" class="btn btn-primary">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}